.Feed {
    // height: calc(100vh - 60px);
    margin-top: 60px;
    
    .container {
        display: flex;
        gap: 20px;
        
    }
    .left-part {
        flex: 2;
        overflow-y: auto;
    }
    .right-part {
        flex: 1;
        margin-top: 20px;
    }

    .suggestions {
        margin-top: 40px;
    }

    .title {
        margin-bottom: 12px;
    }
}