.UpdateProfile {

    .container {
        display: flex;
        padding-top: 20px;
    }
    .left-part {
        flex: 1;
        text-align: center;

        .user-img {
            width: 80px;
            height: 80px;
            border-radius: 50%;
        }
    }

    .right-part {
        flex: 3;

        form {
            border: 1px solid var(--border-color);
            padding: 20px;
            border-radius: 4px;
        }

        input {
            width: 100%;
            display: block;
            padding: 8px 16px;
            margin-top: 16px;
            border-radius: 4px;
            border: 1px solid var(--border-color)
        }

        .btn-primary {
            width: fit-content;
        }

        .delete-account {
            margin-top: 16px;
            background-color: red;
        }
    }
}