* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --border-color: #ddd;
  --accent-color: #458eff;
}

h1, h2, h3, h4, h5, h6 {
  color: #212121;
}

h3, h6 {
  font-weight: 400;
}

p {
  color: #555;
  font-size: 0.9rem;
}

.hover-link {
  cursor: pointer;
}

.hover-link:active {
  color: red;
}

.container {
  max-width: 960px;
  margin-inline: auto;
}

.btn-primary {
  background-color: var(--accent-color);
  color: white;
  font-weight: bold;
  padding: 10px 40px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #5f9fff;
}

.btn-primary:active {
  background-color: var(--accent-color);
}

.btn-secondary {
  border: 2px solid var(--accent-color);
  color: var(--accent-color);
  font-weight: bold;
  padding: 10px 40px;
  border-radius: 4px;
  cursor: pointer;
  background: none;
}

.btn-secondary:hover {
  background-color: #ddd;
}

.btn-secondary:active {
  background: none;
}